@use "reset";
$background-color: #f7f7f2;
body {
  background-color: $background-color;
}

header {
  display: flex;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.logo {
  background-color: lightblue;
}

.formularkort {
  background-color: lightblue;
} 