@use "reset";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.logo {
  background-color: lightblue;
}

.formularkort {
  background-color: lightblue;
}

// Gömmer element visuellt men låter skärmläsare läsa dem.
// Används på labeln och rubriken i "Så funkar det".
// Använd inte display: none, det gömmer även för skärmläsare.

.visuellt-dold {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// "Så funkar det": tre steg bredvid varandra
.sa-funkar-det ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

//Skapar utrymme mellan varje list item.
.sa-funkar-det li {
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}

.sa-funkar-det li + li {
  border-left: 1px solid #D5DBD6;
}